<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.MemoMapper">

	<select id="findOne" resultType="Memo">
		SELECT * FROM memo
	</select>

	<select id="findOneWithTags" resultMap="resultMap1">
		SELECT m.memo_num,
		m.user_num, m.memo_text, date_format(m.memo_date, '%Y.%m.%d %H:%i')
		'memo_date', m.impt_memo, m.del_memo, t.tag_num, t.tag_name FROM memo
		m JOIN tm ON m.memo_num=tm.memo_num JOIN tag t ON tm.tag_num =
		t.tag_num WHERE m.memo_num = #{memoNum}
	</select>

	<select id="findByUserNum" resultType="Memo">
		SELECT * FROM Memo WHERE
		user_num = #{userNum}
	</select>

	<select id="findByUserNumWithTags" resultMap="resultMap1">
		SELECT m.memo_num,
		m.user_num, m.memo_text, date_format(m.memo_date, '%Y.%m.%d %H:%i')
		'memo_date', m.impt_memo, m.del_memo,
		t.tag_num, t.tag_name FROM memo m
		JOIN tm ON m.memo_num=tm.memo_num JOIN tag t ON tm.tag_num = t.tag_num
		WHERE m.user_num = #{userNum} and m.del_memo = 1 ORDER BY m.memo_date
		DESC
	</select>



	<select id="findTrashByUserNumWithTags" resultMap="resultMap1">
		SELECT
		m.memo_num,
		m.user_num, m.memo_text, date_format(m.memo_date, '%Y.%m.%d
		%H:%i')
		'memo_date', m.impt_memo, m.del_memo,
		t.tag_num, t.tag_name FROM
		memo m
		JOIN tm ON m.memo_num=tm.memo_num JOIN tag t ON tm.tag_num =
		t.tag_num
		WHERE m.user_num = #{userNum} and m.del_memo = 0 ORDER BY
		m.memo_date DESC
	</select>


	<select id="findImptByUserNumWithTags" resultMap="resultMap1">
		SELECT
		m.memo_num,
		m.user_num, m.memo_text, date_format(m.memo_date, '%Y.%m.%d
		%H:%i')
		'memo_date', m.impt_memo, m.del_memo,
		t.tag_num, t.tag_name FROM
		memo m
		JOIN tm ON m.memo_num=tm.memo_num JOIN tag t ON tm.tag_num =
		t.tag_num
		WHERE m.user_num = #{userNum} and m.del_memo = 1 and
		impt_memo = 1 ORDER BY
		m.memo_date DESC
	</select>

	<select id="findRecentByUserNumWithTags" resultMap="resultMap1">
		SELECT
		m.memo_num,
		m.user_num, m.memo_text, date_format(m.memo_date, '%Y.%m.%d
		%H:%i')
		'memo_date', m.impt_memo, m.del_memo,
		t.tag_num, t.tag_name FROM
		memo m
		JOIN tm ON m.memo_num=tm.memo_num JOIN tag t ON tm.tag_num =
		t.tag_num
		WHERE m.user_num = #{userNum} and m.del_memo = 1 and
		memo_date BETWEEN date_add(now(),interval -7 day) and now() ORDER BY
		m.memo_date DESC
	</select>

	<select id="findByUserNumAndListWithTags" resultType="integer">
		SELECT m.memo_num FROM memo m JOIN tm ON m.memo_num=tm.memo_num JOIN
		tag t ON
		tm.tag_num = t.tag_num WHERE m.user_num = #{userNum} and
		m.del_memo = 1 and t.tag_name IN
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
		GROUP BY m.memo_num HAVING count(m.memo_num) >= #{size}
		ORDER BY
		m.memo_date DESC
	</select>
	
	<select id="findByUserNumAndListWithPath" resultType="integer">
		SELECT m.memo_num FROM memo m JOIN tm ON m.memo_num=tm.memo_num JOIN
		tag t ON
		tm.tag_num = t.tag_num WHERE m.user_num = #{userNum} and
		m.del_memo = 1 and t.tag_num IN
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
		GROUP BY m.memo_num HAVING count(m.memo_num) >= #{size}
		ORDER BY
		m.memo_date DESC
	</select>

	<select id="findByTagNumWithTags" resultType="integer">
		SELECT m.memo_num
		FROM memo m
		JOIN tm ON m.memo_num=tm.memo_num JOIN tag t ON tm.tag_num
		= t.tag_num
		WHERE m.del_memo = 1 and t.tag_num = #{tagNum} ORDER BY
		m.memo_date
		DESC
	</select>

	<select id="findByUserNumAndMemoTextWithTags"
		resultMap="resultMap1">
		SELECT m.memo_num,
		m.user_num, m.memo_text,
		date_format(m.memo_date, '%Y.%m.%d %H:%i')
		'memo_date', m.impt_memo,
		m.del_memo,
		t.tag_num, t.tag_name FROM memo m
		JOIN tm ON
		m.memo_num=tm.memo_num JOIN tag t ON tm.tag_num = t.tag_num
		WHERE
		m.user_num = #{userNum} and m.del_memo = 1 and m.memo_text LIKE
		concat('%',#{memoText},'%') ORDER BY m.memo_date
		DESC
	</select>

	<resultMap id="resultMap1" type="Memo">
		<id property="memoNum" column="memo_num" />
		<result property="userNum" column="user_num" />
		<result property="memoText" column="memo_text" />
		<result property="memoDate" column="memo_date" />
		<result property="imptMemo" column="impt_memo" />
		<result property="delMemo" column="del_memo" />
		<collection property="tags" ofType="Tag">
			<id property="tagNum" column="tag_num" />
			<result property="userNum" column="user_num" />
			<result property="tagName" column="tag_name" />
		</collection>
	</resultMap>




	<insert id="insert" useGeneratedKeys="true"
		keyProperty="memoNum">
		INSERT Memo (user_num, memo_text, memo_date) VALUES
		(#{userNum}, #{memoText}, #{memoDate})
	</insert>

	<update id="update">
		UPDATE Memo SET memo_text = #{memoText}, memo_date =
		#{memoDate} WHERE memo_num = #{memoNum}
	</update>

	<update id="trash">
		UPDATE Memo SET del_memo = 0 WHERE memo_num =
		#{memoNum}
	</update>

	<update id="restore">
		UPDATE Memo SET del_memo = 1 WHERE memo_num =
		#{memoNum}
	</update>

	<update id="impt">
		UPDATE Memo SET impt_memo = 1 WHERE memo_num =
		#{memoNum}
	</update>

	<update id="notImpt">
		UPDATE Memo SET impt_memo = 0 WHERE memo_num =
		#{memoNum}
	</update>

	<delete id="delete">
		DELETE FROM Memo WHERE memo_num = #{memoNum}
	</delete>
</mapper>
