<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.TagMapper">
	<!-- -->
	<select id="findOne" resultType="Tag">
		SELECT * FROM Tag WHERE
		tag_num =
		#{tagNum}
	</select>

	<!-- 메모 insert할 때 이미 만들어져 있는 태그인지 확인 -->
	<select id="findByUserNum" resultType="Tag">
		SELECT * FROM Tag
		WHERE
		user_num = #{userNum}
	</select>

	<!-- 메모 저장했을 때 전에 저장한 태그 가져오기 -->
	<select id="findByMemoNum" resultType="Tag">
		SELECT t.* FROM Tag t JOIN
		TM on t.tag_num = tm.tag_num WHERE tm.memo_num = #{memoNum};
	</select>

	<!-- 참조 없는 태그 리스트, 쓰레기통 메모도 포함되어 있음(findLiving이랑 다름), 검색용?????? -->
	<select id="findWithoutReference" resultType="Tag">
		SELECT t.* FROM Tag
		t LEFT JOIN TM on t.tag_num = tm.tag_num WHERE tm.tag_num IS NULL;
	</select>

	<!-- 메뉴의 태그 목록을 위한 살아있는 태그 리스트(쓰레기통 메모의 태그들 제외됨.) -->
	<select id="findLiving" resultType="Tag">
		SELECT count(t.tag_num) 'count', t.* FROM tag
		t JOIN tm ON t.tag_num = tm.tag_num JOIN memo m ON tm.memo_num =
		m.memo_num WHERE m.del_memo = 1 and t.user_num = #{userNum} GROUP BY t.tag_num
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="tagNum">
		INSERT
		Tag (user_num, tag_name)
		VALUES
		(#{userNum}, #{tagName})
	</insert>

	<update id="update">
		UPDATE Tag SET
		user_pass = #{userPass}
		WHERE

	</update>

	<delete id="delete">
		DELETE FROM Tag WHERE tag_num = #{tagNum}
	</delete>
</mapper>
