<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.TagMapper">

	<select id="findOne" resultType="Tag">
		SELECT * FROM Tag WHERE
		tag_num =
		#{tagNum}
	</select>

	<select id="findByUserNum" resultType="Tag">
		SELECT * FROM Tag
		WHERE
		user_num = #{userNum}
	</select>

	<select id="findByMemoNum" resultType="Tag">
		SELECT t.* FROM Tag t JOIN
		TM on t.tag_num = tm.tag_num WHERE tm.memo_num = #{memoNum};
	</select>

	<select id="findWithoutReference" resultType="Tag">
		SELECT t.* FROM Tag
		t LEFT JOIN TM on t.tag_num = tm.tag_num WHERE tm.tag_num IS NULL;
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="tagNum">
		INSERT
		Tag (user_num, tag_name)
		VALUES
		(#{userNum}, #{tagName})
	</insert>

	<update id="update">
		UPDATE Tag SET
		user_pass = #{userPass}
		WHERE

	</update>

	<delete id="delete">
		DELETE FROM Tag WHERE tag_num = #{tagNum}
	</delete>
</mapper>
