<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.TagMapper">

	<select id="findOne" resultType="Tag">
		SELECT * FROM Tag WHERE
		tag_num =
		#{tagNum}
	</select>

	<select id="findAllByUserNum" resultType="Tag">
		SELECT * FROM Tag
		WHERE
		user_num = #{userNum}
	</select>

	<select id="findAllByTagNum" resultType="Tag">
		SELECT * FROM Tag
		WHERE
		memo_num = #{memoNum}
	</select>

	<insert id="insert" useGeneratedKeys="true"
		keyProperty="tagNum">
		INSERT
		User (user_id, user_pass, pass_find_qust,
		pass_find_ansr)
		VALUES
		(#{userId}, #{userPass}, #{passFindQust},
		#{passFindAnsr})
	</insert>

	<update id="update">
		UPDATE User SET
		user_pass = #{userPass}
		WHERE
		pass_find_qust =
		#{passFindQust} and pass_find_ansr = #{passFindAnsr}
	</update>

	<delete id="delete">
		DELETE FROM User WHERE memo_num = #{memoNum}
	</delete>
</mapper>
