<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.TMMapper">

	<select id="findByMemoNum" resultType="TM">
		SELECT * FROM TM
		WHERE
		memo_num = #{memoNum}
	</select>

	<insert id="insert" useGeneratedKeys="true"
		keyProperty="tagMemoNum">
		INSERT
		TM (memo_num, tag_num)
		VALUES
		(#{memoNum},
		#{tagNum})
	</insert>

	<delete id="delete">
		DELETE FROM tm WHERE tag_num = #{tagNum} and memo_num
		= #{memoNum}
	</delete>

	<delete id="deleteByMemoNum">
		DELETE FROM tm WHERE memo_num = #{memoNum}
	</delete>
</mapper>
