/*--------------------- article --------------------*/
.frame.closeNav {
	grid-template-areas: "header" "article" "footer";
	grid-template-columns: 1fr;
}

article {
	display: grid;
	grid-template-rows: 120px 1fr;
	grid-gap: 0px;
}

article>.artDiv1 {
	border-bottom: 1px solid lightgray;
}

.artDiv1>.grid {
	max-width: 400px;
	padding: 15px;
}